# Base de datos MySQL
DB_USERNAME=[DB_USERNAME]
DB_PASSWORD=[DB_PASSWORD]
DB_HOST=[DB_HOST]
DB_DATABASE=[DB_NAME]

# (Opcional) Ajusta esto si usas diferentes credenciales por entorno
# DB_PORT=3306
